@use "../../../assets/scss/variables" as variables;

.input-control {
  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__field-container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    background: none;
    background-image: variables.$iconEye;
    background-size: cover;
    transform: translateY(-50%);

    &--show {
      background-image: variables.$iconEyeCrossed;
    }
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: variables.$baseBorderRadius;
    transition: border-color 0.15s ease-in-out;

    &:focus {
      border-color: variables.$primaryColor;
      outline: none;
    }

    &--error {
      border-color: variables.$errorColor;
    }

    &--success {
      border-color: variables.$successColor;
    }

    &--disabled {
      color: variables.$disabledTextColor;
      background-color: #f8f9fa;
    }

    &--password {
      padding-right: 2.5rem;
    }
  }

  &__error {
    margin-top: 0.25rem;
    color: variables.$errorColor;
    font-size: 0.75rem;
  }
}
