<div class="input-control">
  <label class="input-control__label">{{ label }}</label>
  <div class="input-control__field-container">
    <input
      #name="ngModel"
      class="input-control__input"
      [ngClass]="{
        'input-control__input--error': errors && name.touched,
        'input-control__input--success': !errors && name.touched,
        'input-control__input--password': inputType === 'password'
      }"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [type]="showPassword ? 'text' : inputType"
      (blur)="onTouched()"
      (input)="handleInputChange()"
    />
    <button
      *ngIf="inputType === 'password'"
      class="input-control__icon"
      [ngClass]="{
        'input-control__icon--show': showPassword,
      }"
      (click)="togglePasswordVisibility($event)"
    ></button>
  </div>
  <ng-container *ngIf="errors && name.touched">
    <div *ngFor="let error of errors | keyvalue" class="input-control__error">
      {{ errorMessages[error.key] }}
    </div>
  </ng-container>
</div>
