@use "../../../assets/scss/variables" as variables;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-image: variables.$background;

  .container {
    width: 100%;
    max-width: 350px;
  }
}
