@use "./assets/scss/variables" as variables;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  color: variables.$baseFontColor;
  font-size: variables.$baseFontSize;
  font-family: variables.$baseFontFamily;
  background-color: #2c3e50;
}
