<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <fieldset class="login-form__fieldset">
    <legend class="login-form__legend">Login</legend>
    <div class="login-form__field">
      <app-input-field
        [label]="'Username'"
        [errors]="loginForm.get('username').errors"
        [inputId]="'text'"
        formControlName="username"
        placeholder="Enter your username"
        class="login-form__input"
      >
      </app-input-field>
    </div>
    <div class="login-form__field">
      <app-input-field
        class="login-form__input"
        [label]="'Password'"
        [errors]="loginForm.get('password').errors"
        [inputType]="'password'"
        formControlName="password"
        [placeholder]="'Enter your password'"
        [inputId]="'password'"
      >
      </app-input-field>
    </div>
  </fieldset>
  <div class="login-form__error" *ngIf="loginFailed">
    {{ errorMessage }}
  </div>
  <button
    [disabled]="!loginForm.valid || isLoaderActive ? 'disabled' : null"
    type="submit"
    class="login-form__button"
    [ngClass]="{
      'login-form__button--disabled': loginForm.errors || isLoaderActive
    }"
  >
    <ng-container *ngIf="!isLoaderActive; else loading">Login</ng-container>
    <ng-template #loading>
      <app-loader [size]="LoaderSize.small"></app-loader>
    </ng-template>
  </button>

  <div class="login-form__forgot-password-container">
    <a
      class="login-form__forgot-password"
      [routerLink]="['/forgot-password']"
      routerLinkActive="router-link-active"
      >Forgot your password?</a
    >
  </div>
</form>
