<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="login-form__field">
    <app-input-field
      [label]="'Email'"
      [errors]="loginForm.get('email').errors"
      formControlName="email"
      placeholder="Enter your username"
      class="login-form__input"
    >
    </app-input-field>
  </div>
  <div class="login-form__field">
    <app-input-field
      class="login-form__input"
      [label]="'Password'"
      [errors]="loginForm.get('password').errors"
      type="password"
      formControlName="password"
      [placeholder]="'Enter your password'"
    >
    </app-input-field>
  </div>
  <div *ngIf="loginForm.errors" class="login-form__error">
    <ng-container *ngFor="let error of [loginForm.errors]">{{
      error
    }}</ng-container>
  </div>
  <button
    [disabled]="loginForm.errors"
    type="submit"
    class="login-form__button"
  >
    Login
  </button>
</form>
