@use "../../../assets/scss/variables" as variables;

.login-form {
  max-height: 400px;
  padding: 1rem;
  border-radius: variables.$baseBorderRadius;
  background-color: #fff;

  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__legend {
    width: 100%;
    margin-bottom: variables.$baseSpacing;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

  &__field {
    margin-bottom: variables.$baseSpacing;
  }

  &__input {
    display: block;
    width: 100%;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: variables.$baseBorderRadius;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
  }
}
